<p>
  Список стандартных услуг (что включено):
</p>

<div>
    <button type="button" class="btn btn-outline-primary btn-lg" routerLink="/newfeature">+Добавить стандартную услугу</button>
</div>

<div class="table-responsive">
  <table class="table table-condensed table-striped table-bordered table-hover">
      <caption>
          It is all features
      </caption>
      <thead>
          <tr>
              <th>№</th>
              <th>Наименование услуги</th>
              <th>имя файла картинки на сайте</th>
              <th>картинка</th>
              <th>удалить или редактировать</th>
          </tr>
      </thead>
      <tbody id='dbtab'>
          <tr *ngFor="let feature of features; let i=index;">
              <td>{{i+1}}</td>
              <td>{{feature.description}}</td>
              <td>{{feature.pic}}</td>
              <td><img [src]="getImgPath + feature.pic" /></td>
              <input type="button" (click)="delFeature(feature.id, i)" value="del"/>
              <input type="button" (click)="modal.show(feature)" value="edit"/>
          </tr>
      </tbody>
  </table>
</div>

<!-- Modal -->
<modal-feature-form #modal (sendingFeature)="reloadFeatures()">

</modal-feature-form>

