<div class="address_banner">
    <div class="contact_block">
        <h2>Добро пожаловать на борт!</h2>
        <h4>Адрес офиса:</h4>
        <p>Киев, проспект Бажана, 24А, офис 307</p>
        <a href="#"><span class="glyphicon glyphicon-road"></span> Посмотреть на карте<br /><br /></a>
        <span class="adr-phone">067 445 40 33<br /></span>
        <span class="adr-phone">063 346 95 75<br /></span>
        <span class="adr-phone">050 346 95 75<br /><br /></span>
        <a href="mailto:client@travel.com.ua" title="" class="mail"><span class="glyphicon glyphicon-envelope"></span> client@travel.com.ua</a>
    </div>
</div>

<div class="contact_form">
    <h2>Contact our experts</h2>
    <p>You have a suggestion? Want us to plan your next holiday? Give us a call on <strong><i>+380503469575</i></strong> or complete a form below:</p>
    <form [formGroup]="contactForm" (ngSubmit)="sendMySuggestion(contactForm.value)">
        <p class="note"><span class="req">*</span> Поля со звездочкой обязательны для заполнения</p>
        <div class="row">
            <div class="col-sm-0 col-md-2"></div>
            <div class="col-sm-6 col-md-4">
                <div class="f-row">
                    <label for="message">Your query or suggestion<span class="req">*</span>:</label><br />
                    <textarea formControlName="message" class="field" rows="13"></textarea>
                    <validator-message [field]="contactForm.get('message')"></validator-message>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="f-row">
                    <label for="from">Your full name<span class="req">*</span>:</label><br />
                    <input type="text" formControlName="from" class="field">
                    <validator-message [field]="contactForm.get('from')"></validator-message>
                </div>
                <div class="f-row">
                    <label for="mail">Your Email address<span class="req">*</span>:</label><br />
                    <input type="text" formControlName="mail" class="field">
                    <validator-message [field]="contactForm.get('mail')"></validator-message>
                </div>
                <div class="f-row">
                    <label for="phone">Your telephone number<span class="req">*</span>:</label><br />
                    <input type="text" formControlName="phone" class="field">
                    <validator-message [field]="contactForm.get('phone')"></validator-message>
                </div>
                <div class="f-row">
                    <label for="how">Select, how did you hear about us?<span class="req">*</span>:</label><br />
                    <select formControlName="how" class="field">
                        <option></option>
                        <option value="1">от друзей</option>
                        <option value="2">через поиск туров</option>
                        <option value="3">обратил внимание на рекламу</option>
                    </select>
                    <validator-message [field]="contactForm.get('how')"></validator-message>
                </div>
            </div>
        </div>
        <label>
        <input type="checkbox"  formControlName="cb" checked>
        <span class="pseudocheckbox">Keep me up to date with news and offers</span>
        </label>
        <div class="go">
            <button type="submit" class="go-button">SUBMIT</button>
        </div>
    </form>
</div>