<div>
    <h2>Hi, admin!..</h2>
    <button type="button" class="btn btn-outline-primary btn-lg" routerLink="/alltours">Список поездок</button>
</div>

<div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>№</th>
                <th>имя</th>
                <th>email</th>
                <th>телефон</th>
                <th>как нас нашел</th>
                <th>готов получать рассылки</th>
                <th>сообщение</th>
            </tr>
        </thead>
        <tbody id='dbtab'>
            <tr *ngFor="let contact of contacts; let i=index;">
                <td>{{i+1}}</td>
                <td>{{contact.name}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.telephone}}</td>
                <td>{{contact.selectedSense}}</td>
                <td>{{contact.keepMe}}</td>
                <td>{{contact.message}}</td>
            </tr>
        </tbody>
    </table>
</div>