<div>
    <h2>Hi, admin!..</h2>
    <button type="button" class="btn btn-outline-primary btn-lg" routerLink="/alltours">Список поездок</button>
</div>

<div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>№</th>
                <th>Имя</th>
                <th>Еmail</th>
                <th>Телефон</th>
                <th>Как нас нашел</th>
                <th>Готов получать рассылки</th>
                <th>Сообщение</th>
            </tr>
        </thead>
        <tbody id='dbtab'>
            <tr *ngFor="let contact of contacts; let i=index;">
                <td>{{i+1}}</td>
                <td>{{contact.name}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.telephone}}</td>
                <td>{{contact.selectedSense}}</td>
                <td *ngIf="contact.keepMe ==1; else writeNo">да</td>
                    <ng-template #writeNo><td>нет</td></ng-template>
                <td>{{contact.message}}</td>
            </tr>
        </tbody>
    </table>
</div>