<div class="header row" id="header" #header>
    <div class="h-medals col-md-4">
        <a href="#"></a>
    </div>
    <div class="h-logo col-md-4">
        <a href="#"><img src="/assets/images/headercmp/friends_logo.jpg"></a>
    </div>
    <div class="h-contacts col-md-4">
        <span class="glyphicon glyphicon-earphone"></span><br />
        <span class="adr-phone">067 445 40 33<br /></span>
        <span class="adr-phone">063 346 95 75<br /></span>
        <span class="adr-phone">050 346 95 75</span>
    </div>
</div>

<!-- <div class="main-menu">
    <span id="pull" [class.menu-fix]="mf" (click)="menuExpand">
        <a href="#">Menu</a>
    </span>
    <ul id="main-menu" #mainMenu [class.menu-fix]="mf">
        <li><a href="#">география туров</a></li>
        <li><a href="#">авиатуры</a></li>
        <li><a href="#">круизы</a></li>
        <li><a href="#">горящие туры</a></li>
        <li><a routerLink="/">о нас</a></li>
        <li><a routerLink="/contacts">контакты</a></li>
        <li><a routerLink="/admin">поиск</a></li>
    </ul>
</div> -->

<!-- <div class="main-menu">
    <nav class="navbar navbar-inverse navbar-toggleable-sm bg-faded" role="navigation">
        <button type="button" class="navbar-toggler navbar-toggler-right" (click)="isCollapsed = !isCollapsed">
            <span class="navbar-toggler-icon" [class.menu-fix]="mf">click</span>
        </button>
        <a class="navbar-brand" routerLink="/">Home</a>
        <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
            <ul id="main-menu" [class.menu-fix]="mf">
                <li><a href="#">география туров</a></li>
                <li><a href="#">авиатуры</a></li>
                <li><a href="#">круизы</a></li>
                <li><a href="#">горящие туры</a></li>
                <li><a routerLink="/">о нас</a></li>
                <li><a routerLink="/contacts">контакты</a></li>
                <li><a routerLink="/admin">поиск</a></li>
            </ul>
        </div>
    </nav>
</div> -->

<div class="main-menu" [class.menu-fix]="mf">
    <nav class="navbar navbar-toggleable-sm navbar-light">
        <button type="button" class="navbar-toggler navbar-toggler-right" (click)="isExpanded = !isExpanded" [attr.aria-expanded]="!isExpanded" aria-controls="navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" routerLink="/">Home</a>
        <div class="collapse navbar-collapse" id="navbarContent" [ngbCollapse]="!isExpanded">
            <ul id="main-menu">
                <li><a href="#">география туров</a></li>
                <li><a href="#">авиатуры</a></li>
                <li><a href="#">круизы</a></li>
                <li><a href="#">горящие туры</a></li>
                <li><a routerLink="/">о нас</a></li>
                <li><a routerLink="/contacts">контакты</a></li>
                <li><a routerLink="/admin">поиск</a></li>
            </ul>
        </div>
    </nav>
</div>