<div>
    <h2>Hi, admin!..</h2>
</div>

<div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered table-hover">
        <caption>
            Queries & suggestions
        </caption>
        <thead>
            <tr>
                <th>№</th>
                <th>name</th>
                <th>email</th>
                <th>telephone</th>
                <th>howHeard</th>
                <th>keepMe</th>
                <th>message</th>
            </tr>
        </thead>
        <tbody id='dbtab'>
        </tbody>
    </table>
</div>