<main-slider></main-slider>
<div class="about-us">
    <h2>Welcome to a whole world of experience</h2>
    <p>Here at The Ultimate Travel Company we have been creating luxury tailor-made journeys, escorted tours and bespoke adventures for the last 25 years. Indeed, every kind of travel imaginable. Worldwide.</p>
    <p>Because everyone sees the world differently, our destination experts use their passion and unrivalled knowledge to design your ‘ultimate’ holiday, made to measure for you.</p>
    <p>Award winning, financially protected and at your service.</p>
    <h4>We are The Ultimate Travel Company for a reason.</h4>
</div>
<main-reviews></main-reviews>

<div class="up-tours">
    <h5>Where can our trips take you?</h5>
    <h2>What's popular</h2>
    <div class="row">
        <div class="tour-card1 col-sm-4">
            <a href="#">
                <h4>Europe and Britain</h4>
                <div class="tour-overlay">
                    <p class="tour-them">A true cultural Smorgasbord, Europe is steeped in history and bursting with flavour and new horizons.</p>
                    <p class="tour-button" aria-hidden="true" tabindex="-1">View Deal</p>
                </div>
            </a>
        </div>
        <div class="tour-card2 col-sm-4">
            <a href="#">
                <h4>Australia and New Zealand</h4>
                <div class="tour-overlay">
                    <p class="tour-them">Discover natural wonders in the South Pacific, where roaring oceans meet pristine beaches, tumbling glaciers and the deep, dusty outback.</p>
                    <p class="tour-button" aria-hidden="true" tabindex="-1">View Deal</p>
                </div>
            </a>
        </div>
        <div class="tour-card3 col-sm-4">
            <a href="#">
                <h4>South America</h4>
                <div class="tour-overlay">
                    <p class="tour-them">Awaken your senses, exploring ancient civilisations, vibrant rainforests and buzzing cities. Enjoy the colours and cultures of South America.</p>
                    <p class="tour-button" aria-hidden="true" tabindex="-1">View Deal</p>
                </div>
            </a>
        </div>
    </div>
</div>