<main-slider></main-slider>
<div class="about-us">
    <h2>Welcome to a whole world of experience</h2>
    <p>Here at The Ultimate Travel Company we have been creating luxury tailor-made journeys, escorted tours and bespoke adventures for the last 25 years. Indeed, every kind of travel imaginable. Worldwide.</p>
    <p>Because everyone sees the world differently, our destination experts use their passion and unrivalled knowledge to design your ‘ultimate’ holiday, made to measure for you.</p>
    <p>Award winning, financially protected and at your service.</p>
    <h4>We are The Ultimate Travel Company for a reason.</h4>
</div>
<main-reviews></main-reviews>

<div class="up-tours">
    <h5>Попробуем что-то новенькое, или еще раз по любимым местам?)</h5>
    <h2>Наши самые популярные маршруты:</h2>
    <div class="row">
            <div class="tour-card col-sm-4" *ngFor="let tour of tours; let i=index;" [style.background-image]="'url(' + tourImgPath + tour.picFile + ')'">
                    <a routerLink="/tourpage/{{tour.id}}">
                        <h5>{{tour.title}}</h5>
                        <div class="tour-overlay">
                            <p class="tour-them">{{tour.fullTripName}}</p>
                            <p class="tour-button" aria-hidden="true" tabindex="-1">Подробнее</p>
                        </div>
                    </a>
            </div>
    </div>
</div>
<from-instagram></from-instagram>