.btn {
    cursor: pointer;
}

/* .reviews {
    padding: 20px;
    text-align: center;
}

.rev-nav {
    margin: 10px;
    padding: 0;
    text-align: center;
}

.rev-nav .btn-outline-primary {
    font-size: 16px;
    padding: 12px;
}

.rev-nav .btn-outline-secondary {
    font-size: 30px;
    padding: 2px 14px;
}

@media screen and (max-width: 980px) {
    .rev-nav .btn-outline-primary {
        font-size: 12px;
        padding: 8px;
    }
    .rev-nav .btn-outline-secondary {
        font-size: 20px;
        padding: 2px 8px;
    }
}

.reviews .card-img-top {
    width: 60%;
}

.reviews .card-title {
    float: left;
    width: 60%;
}

.reviews .card-customer {
    float: right;
    width: 27%;
    border-radius: 50%;
    position: absolute;
    right: 4%;
    top: 10%;
}

.reviews .layer {
    margin: 10px 10px 24px 10px;
    padding-top: 10px;
    padding-right: 10px;
    width: 100%;
    text-align: left;
    vertical-align: baseline;
    font-size: 14px;
    overflow: auto;
    overflow-x: hidden;
    max-height: 240px;
}

.reviews .text-muted {
    position: absolute;
    right: 2%;
    bottom: 2%;
} */

.modal {
    background: rgba(0, 0, 0, 0.6);
}

/* .contact_form {
    margin: 0;
    padding: 15px 5px;
    min-height: 400px;
    width: 100%;
    background: #f1f7fa;
    font-family: 'Oxygen', sans-serif;
    text-align: center;
} */

.row {
    width: 100%;
}

form .f-row {
    padding: 5px 8px;
    margin-bottom: 5px;
}

form .f-row:hover {
    background: #f1e7fa;
}

form label {
    font-size: 1em;
    font-weight: bold;
    width: 100%;
    padding: 6px 0;
    color: #464646;
    vertical-align: top;
}

form .req {
    color: #ca5354;
}

form .note {
    font-size: 0.8em;
    line-height: 1.33em;
    font-weight: normal;
    padding: 2px 7px;
    margin-bottom: 10px;
}

form input:focus,
form textarea:focus {
    outline: none;
}

form .field {
    padding: 8px 9px;
    width: 100%;
    font-size: 1em;
    font-weight: normal;
    color: #898989;
}

.go-button {
    width: 180px;
    height: 40px;
    border-radius: 2%;
    cursor: pointer;
}

.error input,
.error textarea,
.error select {
    border: 1px solid red;
}

.error span {
    font-size: 0.8em;
    color: red;
}

/* .customer-photo {
    float: left;
    width: 27%;
} */