<div class="newtrip_form">
  <h2>Готовим новую поездку</h2>
  <form [formGroup]="tourForm" (ngSubmit)="sendNewTour(tourForm.value)">
      <p class="note"><span class="req">*</span> Для публиикации на сайте поля со звездочкой должны быть заполнены</p>
      <div class="row">
          <div class="col-sm-0 col-md-2"></div>
          <div class="col-sm-6 col-md-4">
              <div class="f-row">
                  <label for="program">Программа поездки<span class="req">*</span>:</label><br />
                  <textarea formControlName="program" class="field" rows="13"></textarea>
                  <validator-message [field]="tourForm.get('program')"></validator-message>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <label>
                  <input type="checkbox"  formControlName="displ" checked>
                  <span class="pseudocheckbox">Показывать на сайте?</span>
                </label>
              <div class="f-row">
                  <label for="title">Trip title<span class="req">*</span>:</label><br />
                  <input type="text" formControlName="title" class="field">
                  <validator-message [field]="tourForm.get('title')"></validator-message>
              </div>
              <div class="f-row">
                <label for="title">Full trip name<span class="req">*</span>:</label><br />
                <input type="text" formControlName="fullTripName" class="field">
                <validator-message [field]="tourForm.get('title')"></validator-message>
            </div>
              <div class="f-row">
                  <label for="startDate">Start date<span class="req">*</span>:</label><br />
                  <input type="date" formControlName="startDate" class="field">
                  <!-- <validator-message [field]="tourForm.get('startDate')"></validator-message> -->
              </div>
              <div class="f-row">
                  <label for="finishDate">Finish date<span class="req">*</span>:</label><br />
                  <input type="date" formControlName="finishDate" class="field">
                  <!-- <validator-message [field]="tourForm.get('finishDate')"></validator-message> -->
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-0 col-md-2"></div>
        <div class="col-sm-6 col-md-4">
            <div class="f-row">
                <label for="characteristics">Особенности поездки<span class="req">*</span>:</label><br />
                <textarea formControlName="characteristics" class="field" rows="13"></textarea>
                <validator-message [field]="tourForm.get('characteristics')"></validator-message>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="f-row">
                <label class="btn btn-primary" for="my-file-selector">
              <input id="my-file-selector" type="file" #fileInput accept="image/png,image/jpeg" style="display:none"
              (change)="imageUpload($event)">
              New trip photo:
          </label>
                <span class='label label-info' id="upload-file-info">{{fileInput.value}}</span>
                <img class="customer-photo rounded-circle" *ngIf="fileInput.value" [src]="imageBase64" />
            </div>
            <div class="f-row">
                <label for="price">Trip's price<span class="req">*</span>:</label><br />
                <input type="text" formControlName="price" class="field">
                <validator-message [field]="tourForm.get('price')"></validator-message>
            </div>
          <label formArrayName="featureCheckboxes" *ngFor="let feature of tripFeatures; let i=index;">
            <input type="checkbox" [formControlName]="i">
            <span class="pseudocheckbox">{{feature.description}}</span>
          </label>
        </div>
    </div>
      <div class="go">
          <button type="submit" class="go-button">SUBMIT</button>
      </div>
  </form>
</div>
