<div class="newtrip_form">
  <h2>Готовим новую поездку</h2>
  <form [formGroup]="tourForm" (ngSubmit)="sendNewTour(tourForm.value)">
      <p class="note"><span class="req">*</span> Для публиикации на сайте поля со звездочкой должны быть заполнены</p>
      <div class="row">
          <div class="col-sm-0 col-md-2"></div>
          <div class="col-sm-6 col-md-4">
              <div class="f-row">
                  <label for="program">Программа поездки<span class="req">*</span>:</label><br />
                  <textarea formControlName="program" class="field" rows="13"></textarea>
                  <validator-message [field]="tourForm.get('program')"></validator-message>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="f-row">
                <label for="displ">Отображать на сайте?<span class="req">*</span>:</label><br />
                <select formControlName="displ" class="field">
                  <option></option>
                  <option value="нет (не готов)">нет (не готов)</option>
                  <option value="только в общем перечне">только в общем перечне</option>
                  <option value="в слайдере на главной">в слайдере на главной</option>
                  <option value="в блоке популярные">в блоке "популярные"</option>
                  <!-- <option value="в слайдере и в популярных">в слайдере и в популярных</option> -->
              </select>
                <validator-message [field]="tourForm.get('displ')"></validator-message>
            </div>
              <div class="f-row">
                  <label for="title">Заглавие тура<span class="req">*</span>:</label><br />
                  <input type="text" formControlName="title" class="field">
                  <validator-message [field]="tourForm.get('title')"></validator-message>
              </div>
              <div class="f-row">
                <label for="title">Полное название поездки<span class="req">*</span>:</label><br />
                <input type="text" formControlName="fullTripName" class="field">
                <validator-message [field]="tourForm.get('fullTripName')"></validator-message>
            </div>
              <div class="f-row">
                  <label for="startDate">Дата отъезда<span class="req">*</span>:</label><br />
                  <input type="date" formControlName="startDate" class="field">
                  <validator-message [field]="tourForm.get('startDate')"></validator-message>
              </div>
              <div class="f-row">
                  <label for="finishDate">Дата возвращения<span class="req">*</span>:</label><br />
                  <input type="date" formControlName="finishDate" class="field">
                  <validator-message [field]="tourForm.get('finishDate')"></validator-message>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-0 col-md-2"></div>
        <div class="col-sm-6 col-md-4">
            <div class="f-row">
                <label for="characteristics">Особенности поездки<span class="req">*</span>:</label><br />
                <textarea formControlName="characteristics" class="field" rows="13"></textarea>
                <validator-message [field]="tourForm.get('characteristics')"></validator-message>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="f-row">
                <label class="btn btn-primary" for="my-file-selector">
              <input id="my-file-selector" type="file" #fileInput accept="image/png,image/jpeg" style="display:none"
              (change)="imageUpload($event)">
              Главная картинка тура<span class="req">*</span>:
          </label>
                <span class='label label-info' id="upload-file-info">{{fileInput.value}}</span>
                <img class="preview-photo" *ngIf="fileInput.value" [src]="imageBase64" />
            </div>
            <div class="f-row">
                <label for="price">Цена тура<span class="req">*</span>:</label><br />
                <input type="text" formControlName="price" class="field">
                <validator-message [field]="tourForm.get('price')"></validator-message>
            </div>
            <p class="note">Минимум 1 опция должна быть включена:</p>
          <label formArrayName="featureCheckboxes" *ngFor="let feature of tripFeatures; let i=index;">
            <input type="checkbox" [formControlName]="i">
            <span class="pseudocheckbox">{{feature.description}}</span>
          </label>
        </div>
    </div>
      <div class="go">
          <button type="submit" class="go-button">СОХРАНИТЬ</button>
      </div>
  </form>
</div>
