<p>
  new-tour works!
</p>

<div class="newtrip_form">
  <h2>Готовим новую поездку</h2>
  <form [formGroup]="tourForm" (ngSubmit)="sendMySuggestion(tourForm.value)">
      <p class="note"><span class="req">*</span> Поля со звездочкой обязательны для заполнения</p>
      <div class="row">
          <div class="col-sm-0 col-md-2"></div>
          <div class="col-sm-6 col-md-4">
              <div class="f-row">
                  <label for="program">Программа поездки<span class="req">*</span>:</label><br />
                  <textarea formControlName="program" class="field" rows="13"></textarea>
                  <validator-message [field]="tourForm.get('program')"></validator-message>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <div class="f-row">
                  <label for="title">Trip name<span class="req">*</span>:</label><br />
                  <input type="text" formControlName="title" class="field">
                  <validator-message [field]="tourForm.get('title')"></validator-message>
              </div>
              <div class="f-row">
                  <label for="startDate">Start date<span class="req">*</span>:</label><br />
                  <input type="text" formControlName="startDate" class="field">
                  <validator-message [field]="tourForm.get('startDate')"></validator-message>
              </div>
              <div class="f-row">
                  <label for="finishDate">Finish date<span class="req">*</span>:</label><br />
                  <input type="text" formControlName="finishDate" class="field">
                  <validator-message [field]="tourForm.get('finishDate')"></validator-message>
              </div>
              <div class="f-row">
                  <label for="price">Trip's price<span class="req">*</span>:</label><br />
                  <input type="text" formControlName="price" class="field">
                  <validator-message [field]="tourForm.get('price')"></validator-message>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-0 col-md-2"></div>
        <div class="col-sm-6 col-md-4">
            <div class="f-row">
                <label for="characteristics">Особенности поездки<span class="req">*</span>:</label><br />
                <textarea formControlName="characteristics" class="field" rows="13"></textarea>
                <validator-message [field]="tourForm.get('characteristics')"></validator-message>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <label>
            <input type="checkbox"  formControlName="cb1" checked>
            <span class="pseudocheckbox">Хорошее настроение</span>
            </label>
            <label>
              <input type="checkbox"  formControlName="cb2">
              <span class="pseudocheckbox">Проезд на комфортабельном автобусе</span>
            </label>
            <label>
              <input type="checkbox"  formControlName="cb3">
              <span class="pseudocheckbox">Проживание в 3/4* отеле</span>
            </label>
            <label>
              <input type="checkbox"  formControlName="cb4">
              <span class="pseudocheckbox">Сопровождение организатора</span>
            </label>
        </div>
    </div>
    <!-- <label>
    <input type="checkbox"  formControlName="cb1" checked>
    <span class="pseudocheckbox">Хорошее настроение</span>
    </label>
    <label>
      <input type="checkbox"  formControlName="cb2">
      <span class="pseudocheckbox">Проезд на комфортабельном автобусе</span>
    </label>
    <label>
      <input type="checkbox"  formControlName="cb3">
      <span class="pseudocheckbox">Проживание в 3/4* отеле</span>
    </label>
    <label>
      <input type="checkbox"  formControlName="cb4">
      <span class="pseudocheckbox">Сопровождение организатора</span>
    </label> -->
      <div class="go">
          <button type="submit" class="go-button">SUBMIT</button>
      </div>
  </form>
</div>
