<p>
  Trips listing:
</p>

<div>
    <button type="button" class="btn btn-outline-primary btn-lg" routerLink="/newtour">+Добавить поездку</button>
    <button type="button" class="btn btn-outline-primary btn-lg" routerLink="/featureslist">Список стандартных услуг туров</button>
</div>

<div class="table-responsive">
  <table class="table table-condensed table-striped table-bordered table-hover">
      <caption>
          It is all trips
      </caption>
      <thead>
          <tr>
              <th>№</th>
              <th>title</th>
              <th>tripName</th>
              <th>picName</th>
              <th>picFile</th>
              <th>onMain</th>
              <th>startDate</th>
              <th>finishDate</th>
              <th>price</th>
              <th>characteristics</th>
              <th>program</th>
              <th>features</th>
              <th>CRUD</th>
          </tr>
      </thead>
      <tbody id='dbtab'>
          <tr *ngFor="let tour of tours; let i=index;">
              <td>{{i+1}}</td>
              <td>{{tour.title}}</td>
              <td>{{tour.fullTripName}}</td>
              <td>{{tour.picName}}</td>
              <td>{{tour.picFile}}</td>
              <td>{{tour.onMain}}</td>
              <td>{{tour.startDate}}</td>
              <td>{{tour.finishDate}}</td>
              <td>{{tour.price}}</td>
              <td>{{tour.characteristics}}</td>
              <td>{{tour.program}}</td>
              <td>{{tour.features}}</td>
              <input type="button" (click)="delTrip(tour.id, i)" value="del"/>
              <input type="button" (click)="modal.show(tour)" value="edit"/>
          </tr>
      </tbody>
  </table>
</div>

<!-- Modal -->
<modal-trip-form #modal (sendingTrip)="reloadTrips()">

</modal-trip-form>
