<div class="signinform">
  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign up</h2>
  
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" class="form-control" placeholder="Username" required>
  
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  
    <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
    <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required>
  
    <br/>
  
    <button type="button" class="btn btn-outline-primary btn-lg" routerLink="/administrator">Submit</button>
  </form>
</div>
